// out: ../css/color.min.css, sourcemap: falsede, compress: true
/*** color ***/
@red: #bf2718;
@green: #2ecc71;
@blue: #3498db;
@turquoise: #1abc9c;
@purple: #9b59b6;
@pink: #da60b8;
@yellow: #f1c40f;
@orange: #e67e22;
@brown: #703c27;
@grey: #95a5a6;
@black: #000000;
@white: #ffffff;
@transparent: transparent;
/*** color primary ***/
.white{
  background-color: @white !important;
}
.black{
  background-color: @black !important;
}
.transparent{
  background-color: @transparent !important;
}
/*** red color ***/
.generate-red-darken(8);
.generate-red-darken(@n, @i: 1) when (@i =< @n) {
  .red-darken-@{i} {
    background-color: darken(@red, @i * 28% / @n) !important;
  }
  .generate-red-darken(@n, (@i + 1));
}
.generate-red-lighten(8);
.generate-red-lighten(@n, @i: 1) when (@i =< @n) {
  .red-lighten-@{i} {
    background-color: lighten(@red, @i * 28% / @n) !important;
  }
  .generate-red-lighten(@n, (@i + 1));
}
/*** green color ***/
.generate-green-darken(8);
.generate-green-darken(@n, @i: 1) when (@i =< @n) {
  .green-darken-@{i} {
    background-color: darken(@green, @i * 28% / @n) !important;
  }
  .generate-green-darken(@n, (@i + 1));
}
.generate-green-lighten(8);
.generate-green-lighten(@n, @i: 1) when (@i =< @n) {
  .green-lighten-@{i} {
    background-color: lighten(@green, @i * 28% / @n) !important;
  }
  .generate-green-lighten(@n, (@i + 1));
}
/*** blue color ***/
.generate-blue-darken(8);
.generate-blue-darken(@n, @i: 1) when (@i =< @n) {
  .blue-darken-@{i} {
    background-color: darken(@blue, @i * 28% / @n) !important;
  }
  .generate-blue-darken(@n, (@i + 1));
}
.generate-blue-lighten(8);
.generate-blue-lighten(@n, @i: 1) when (@i =< @n) {
  .blue-lighten-@{i} {
    background-color: lighten(@blue, @i * 28% / @n) !important;
  }
  .generate-blue-lighten(@n, (@i + 1));
}
/*** turquoise color ***/
.generate-turquoise-darken(8);
.generate-turquoise-darken(@n, @i: 1) when (@i =< @n) {
  .turquoise-darken-@{i} {
    background-color: darken(@turquoise, @i * 28% / @n) !important;
  }
  .generate-turquoise-darken(@n, (@i + 1));
}
.generate-turquoise-lighten(8);
.generate-turquoise-lighten(@n, @i: 1) when (@i =< @n) {
  .turquoise-lighten-@{i} {
    background-color: lighten(@turquoise, @i * 28% / @n) !important;
  }
  .generate-turquoise-lighten(@n, (@i + 1));
}
/*** purple color ***/
.generate-purple-darken(8);
.generate-purple-darken(@n, @i: 1) when (@i =< @n) {
  .purple-darken-@{i} {
    background-color: darken(@purple, @i * 28% / @n) !important;
  }
  .generate-purple-darken(@n, (@i + 1));
}
.generate-purple-lighten(8);
.generate-purple-lighten(@n, @i: 1) when (@i =< @n) {
  .purple-lighten-@{i} {
    background-color: lighten(@purple, @i * 28% / @n) !important;
  }
  .generate-purple-lighten(@n, (@i + 1));
}
/*** pink color ***/
.generate-pink-darken(8);
.generate-pink-darken(@n, @i: 1) when (@i =< @n) {
  .pink-darken-@{i} {
    background-color: darken(@pink, @i * 28% / @n) !important;
  }
  .generate-pink-darken(@n, (@i + 1));
}
.generate-pink-lighten(8);
.generate-pink-lighten(@n, @i: 1) when (@i =< @n) {
  .pink-lighten-@{i} {
    background-color: lighten(@pink, @i * 28% / @n) !important;
  }
  .generate-pink-lighten(@n, (@i + 1));
}
/*** yellow color ***/
.generate-yellow-darken(8);
.generate-yellow-darken(@n, @i: 1) when (@i =< @n) {
  .yellow-darken-@{i} {
    background-color: darken(@yellow, @i * 28% / @n) !important;
  }
  .generate-yellow-darken(@n, (@i + 1));
}
.generate-yellow-lighten(8);
.generate-yellow-lighten(@n, @i: 1) when (@i =< @n) {
  .yellow-lighten-@{i} {
    background-color: lighten(@yellow, @i * 28% / @n) !important;
  }
  .generate-yellow-lighten(@n, (@i + 1));
}
/*** orange color ***/
.generate-orange-darken(8);
.generate-orange-darken(@n, @i: 1) when (@i =< @n) {
  .orange-darken-@{i} {
    background-color: darken(@orange, @i * 28% / @n) !important;
  }
  .generate-orange-darken(@n, (@i + 1));
}
.generate-orange-lighten(8);
.generate-orange-lighten(@n, @i: 1) when (@i =< @n) {
  .orange-lighten-@{i} {
    background-color: lighten(@orange, @i * 28% / @n) !important;
  }
  .generate-orange-lighten(@n, (@i + 1));
}
/*** brown color ***/
.generate-brown-darken(8);
.generate-brown-darken(@n, @i: 1) when (@i =< @n) {
  .brown-darken-@{i} {
    background-color: darken(@brown, @i * 28% / @n) !important;
  }
  .generate-brown-darken(@n, (@i + 1));
}
.generate-brown-lighten(8);
.generate-brown-lighten(@n, @i: 1) when (@i =< @n) {
  .brown-lighten-@{i} {
    background-color: lighten(@brown, @i * 28% / @n) !important;
  }
  .generate-brown-lighten(@n, (@i + 1));
}
/*** grey color ***/
.generate-grey-darken(8);
.generate-grey-darken(@n, @i: 1) when (@i =< @n) {
  .grey-darken-@{i} {
    background-color: darken(@grey, @i * 28% / @n) !important;
  }
  .generate-grey-darken(@n, (@i + 1));
}
.generate-grey-lighten(8);
.generate-grey-lighten(@n, @i: 1) when (@i =< @n) {
  .grey-lighten-@{i} {
    background-color: lighten(@grey, @i * 28% / @n) !important;
  }
  .generate-grey-lighten(@n, (@i + 1));
}
