// out: ../css/helpers.min.css, sourcemap: falsede, compress: true
h1,h2,h3,h4,h5,h6,ul,figure,a,article{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0 !important;
}
// align text: simply
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}

// align text: beauty
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-top{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.align-bottom{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.align-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.align-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.align-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.align-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// align column
.align-column{
  flex-direction: column;
}
// shadow
.shadow-0{
  box-shadow: none;
}
.shadow-1{
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.6), Direction=NaN, Strength=5);
}
.shadow-2{
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.6), Direction=NaN, Strength=20);
}
.shadow-3{
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.6), Direction=NaN, Strength=30);
}
.shadow-4{
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.6), Direction=NaN, Strength=40);
}
