// out: ../css/style.min.css, sourcemap: false, compress: true
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: rgb(232, 232, 232);
}
@purple: rgb(245, 78, 168);
*{
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.background{
  background-image: url(../webgallery/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.layer{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(168, 73, 163, 0.72); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(168, 73, 163, 0.55) 0%, rgba(103, 150, 210, 0.23)  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(168, 73, 163, 0.55) 0%, rgba(103, 150, 210, 0.23)  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(168, 73, 163, 0.5) 0%, rgba(103, 150, 210, 0.23)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a849a3', endColorstr='#6796d3',GradientType=0 ); /* IE6-9 */
}

// partie one - login & subscribe
.modal-content{
  width: 50%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  .logo{
    margin: 0px 0;
    img{
      width: 150px;
      transition-duration: 0.5s;
      cursor: pointer;
      &:hover{
        // filter: brightness(0%);
        transition-duration: 0.5s;
      }
    }
  }
  // modal
  .modal-connect{
    width: 100%;
    padding: 20px;
    min-height: 250px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .title-modal{
      padding-bottom: 3px;
      color: white;
      margin-bottom: 5px;
      width: 30%;
      text-transform: uppercase;
      font-size: 15px;
    }
  }
  // partie one - login & subscribe
  footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
}

/////// PARTI II
// heading
#header-profil{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3{
    font-weight: 400;
    color: white;
    font-size: 28px;
    text-transform: capitalize;
  }
  .my-avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    border: 8px solid rgba(255, 255, 255, 0.86);
    transition-duration: 0.6s;
    cursor: pointer;
    &:hover{
      box-shadow: inset 0 0 0 110px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0,0,0,0.1);
      transition-duration: 0.6s;
      border-color: white;
    }
    img{
      width: 120px;
    }
  }
  .bubble-info{
    margin: 5px;
    .circle-info{
      width: 75px;
      height: 75px;
      border-radius: 100%;
      border: solid 2px white;
      padding: 3px;
      background-color: white;
      font-size: 30px;
      background-clip: content-box; /* support: IE9+ */
      color: @purple;
      transition-duration: 0.6s;
      &:hover{
        border-color: @purple;
        color: white;
        background-color: @purple;
        transition-duration: 0.6s;
      }
    }
    .title-bubble{
      padding: 5px 15px;
      background-color: white;
      color: black;
      font-weight: 300;
      color: @purple;
      margin-top: 10px;
    }
  }
}
.sub-menu{
  ul{
    li{
      list-style: none;
      color: lighten(@purple, 5%);
      text-transform: uppercase;
      font-weight: 500;
    }
    li.sub-menu{
      list-style: none;
      padding: 15px;
      color: lighten(@purple, 5%);
      text-transform: uppercase;
      font-weight: 500;
      transition-duration: 0.3s;
      &:hover{
        background-color: lighten(@purple, 29%);
      }
    }
  }
}
// songs-page
.song-moment{
  width: 200px;
  height: 200px;
  background-color: lighten(@purple, 30%);
  border-radius: 100%;
  border: 4px solid lighten(@purple, 10%);
  padding: 3px;
  background-size: cover;
  background-position: center;
  background-clip: content-box; /* support: IE9+ */
  transition-duration: 0.3s;
  &:hover{
    box-shadow: inset 0 0 10px 110px rgba(245, 78, 168, 0.2);
    transition-duration: 0.6s;
  }
}
.table{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  i{
    color: rgb(33, 233, 92);
  }

}
////// general CLASS
// group btn&form
.group-btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.group-form{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  input{
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding: 10px 0px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    transition-duration: 0.5s;
    &:focus{
      border-color: @purple;
      transition-duration: 0.3s;
    }
  }
}
// my button
.btn{
  min-width: 150px;
  padding: 10px 30px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 100px;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
  outline: 0 !important;
}
.btn.purple{
  background-color: @purple;
}
.btn.blue{
  background-color: rgb(82, 163, 198);
}
.btn.white{
  background-color: rgb(245, 245, 245);
  color: rgb(125, 125, 125);
}
.btn.circle{
  border-radius: 100% !important;
  min-width: 45px !important;
  height: 45px;
  padding: 10px;
  transition-duration: 0.4s;
}
// my effects
@keyframes bounceIt{
  0%{
    width: 150px;
  }
  25%{
    width: 170px;
  }
  50%{
    width: 150px;
  }
  75%{
    width: 170px;
  }
}
@keyframes rotateIt{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
// effect css3
.bounce-it{
  animation-name: bounceIt;
  animation-duration: 0.7s; /* durée de l’animation */
  animation-iteration-count: 1; /* si animation ne doit pas se répéter */
}
.rotate-it{
  animation-name: rotateIt;
  animation-duration: 1.3s; /* durée de l’animation */
  animation-iteration-count: 1; /* si animation ne doit pas se répéter */
}
.btn.rotate-it{
  animation-name: rotateIt;
  animation-duration: 0.8s; /* durée de l’animation */
  animation-iteration-count: 3; /* si animation ne doit pas se répéter */
}

.title{
  margin: 5px 0;
  font-weight: 300;
}
////// general CLASS
@media screen and (max-width: 700px){
  .modal-content{
    width: 100%;
    .modal-connect{
      width: 100%;
    }
    .group-form{
      display: flex;
      align-items: center;
      justify-content: center;
      input{
        width: 90%;
      }
    }
  }
  .group-btn{
    flex-direction: column;
  }
  #header-profil{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .circle-info{
    width: 60px !important;
    height: 60px !important;
    font-size: 22px !important;
  }
}
